* {
	font-family: 'Roboto', sans-serif !important;
}
.verde {
	background-color: rgb(55,171,85);
}
.text-verde {
	color: rgb(55,171,85);
}

.navbar-default {
	background-color: rgb(55,171,85) !important;	
}
nav img {
	margin-left: 15px;
}



















.bg-uno {
	background-image: url("../img/header-image.jpg");
	height: 480px;
}

