header img {
	width: 50%;
}
.bg-img-block{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.bg-uno {
	background-image: url("../img/header-image.jpg");
	height: 480px;
}
.bg-morazu {
	background-color: #0D0A1C;
}
.bg-mora { 
	background-color: #181237 !important;
}
.crema {
	color: #F7D34F;
}
.courgette {
	font-family: Courgette;
}
h1 {
	font-size: 5em;
}
.pd-10{
	padding: 10%;
}
.pd-5 {
	padding: 5%;
}
.pd-3 {
	padding: 3%;
}
.pd-1 {
	padding: 1%;
}
.t-white {
	color: white;
}

.bor-r-5 {
	border-radius: 5px;
}
.bor-r-100{
	border-radius: 100%;
}
.bor-none {
	border: none;
}
.w-100 {
	width: 100%;
}
.iconos {
	display: block;
	float: left;
	width: 20%;
	height: ;
	padding: 8% 3%;
	font-size: 2em;
}
.mg-b-3 {
	margin-bottom: 3%;
}